@font-face {
  font-family: 'VictorMono';
  src: url('../fonts/VictorMono/woff2/VictorMono-BoldItalic.woff2') format('woff2'), url('../fonts/VictorMono/woff/VictorMono-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VictorMono';
  src: url('../fonts/VictorMono/woff2/VictorMono-Bold.woff2') format('woff2'), url('../fonts/VictorMono/woff/VictorMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VictorMono';
  src: url('../fonts/VictorMono/woff2/VictorMono-Italic.woff2') format('woff2'), url('../fonts/VictorMono/woff/VictorMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VictorMono';
  src: url('../fonts/VictorMono/woff2/VictorMono-MediumItalic.woff2') format('woff2'), url('../fonts/VictorMono/woff/VictorMono-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VictorMono';
  src: url('../fonts/VictorMono/woff2/VictorMono-Medium.woff2') format('woff2'), url('../fonts/VictorMono/woff/VictorMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VictorMono';
  src: url('../fonts/VictorMono/woff2/VictorMono-Regular.woff2') format('woff2'), url('../fonts/VictorMono/woff/VictorMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
